---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>
    {{ post.content }}

    {% if post.description %}
      {{ post.description }}
        {% if post.fullReservationUrl %}
          <p>
            <a href="{{ post.fullReservationUrl }}"><img class="attribution" src="/public/active/power-by--drk.png"/></a>
            <a href="{{ post.fullReservationUrl }}"><img class="register" src="/public/active/btn_blue.png"/></a>
          </p>
        {% endif %}
    {% endif %}

    {% if post.overview %}
      {{ post.overview }}
        {% if post.seo_title %}
          <p><a href="http://www.everytrail.com/guide/{{post.seo_title}}">EveryTrail</a></p>
        {% endif %}
    {% endif %}

  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>

