---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>

  {% if page.sub_title %}
    <h2>{{page.sub_title}}</h2>
  {% endif %}
  
  {{ page.overview }}

  {% if page.picture %}
    <img src="{{page.picture}}"/>
  {% endif %}

  {{ page.tips }}

  <div id="map_canvas" style="width:100%;max-width:640px;height:480px;"></div>

  {{ content }}

  {% if page.seo_title %}
    <p><a href="http://www.everytrail.com/guide/{{page.seo_title}}">http://www.everytrail.com/guide/{{page.seo_title}}</a></p>
  {% endif %}

  {% if site.data.trail_campground_map[page.uid] %}
    <h2>Nearby Campgrounds:</h2>
    <ul>
    {% for camp_id in site.data.trail_campground_map[page.uid] limit:12 %}
      <li><a href="/{{site.data.campgrounds[camp_id].categories[0]}}/{{site.data.campgrounds[camp_id].categories[1]}}/{{site.data.campgrounds[camp_id].categories[2]}}/{{site.data.campgrounds[camp_id].uid}}.html">{{site.data.campgrounds[camp_id].title}}</a></li>
    {% endfor %}
    </ul>
  {% endif %}

</div>
